<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="../assets/styles/about.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About this page</title>
</head>
<body>
    <div class="navigator">
        <a href="../index.html">Inicio</a>
        <a href="main.html">Pagina principal</a>
    </div>
    <div>
        <a href="https://youtu.be/5Fwj1HSEWQk?t=32" class="video">
        <section class="about">Esta página fue creada para la primera tarea del ramo</section>
    </a>
    <a href="https://tfwiki.net/wiki/Lugnut_(Animated)" class="lug">
    <section class="about2">Lugnut: AND TO HONOR THE MIGHTY LORD MEGATRON</section>
    </a>
    </div>
    <div class="screamer">
        <a href="https://youtu.be/5Fwj1HSEWQk?t=32">
        <img src="../assets/imgs/scream.jpg" class="img">
        </a>
        You have left the main page. I, Starscream, am now leader of the Decepticons!!!!
        
    </div>
    <footer>
        <p>Hecho por: Alberto Agostini Repetto</p>
    </footer>
    <script src="../script.js"></script>
</body>