<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="../assets/styles/main.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
</head>
<body>
    <div class="navigator">
        <a href="../index.html">Inicio</a>
        <a href="about.html">Sobre la página</a>
    </div>
    <div class="main">
        <h1>Some Versions of Megatron</h1>
        <article>
            <h2>IDW</h2>
            <h3>S</h3>
            <a href="https://tfwiki.net/wiki/Megatron_(G1)/2005_IDW_continuity">
            <img src="../assets/imgs/megs7.jpg ">
            </a>
        </article>
        <article>
            <h2>G1</h2>
            <a href="https://tfwiki.net/wiki/Megatron_(G1)/Generation_1_cartoon_continuity">
            <img src="../assets/imgs/megs2.jpg ">
            </a>
        </article>
        <article>
            <h2>Prime</h2>
            <a href="https://tfwiki.net/wiki/Megatron_(WFC)">
            <img src="../assets/imgs/megs1.jpg ">
            </a>
        </article>
        <article>
            <h2>Animated</h2>
            <a hrfe="https://tfwiki.net/wiki/Megatron_(Animated)"></a>
            <img src="../assets/imgs/megs4.jpeg ">
            </a>
        </article>
        <article>
            
            <h2>Earthspark</h2>
            <a href="https://tfwiki.net/wiki/Megatron_(ES)">
            <img src="../assets/imgs/megs5.jpg ">
            </a>
        </article>
        <article>
            <h2>Cyberverse</h2>
            <a href="https://tfwiki.net/wiki/Megatron_(Cyberverse)">
            <img src="../assets/imgs/megs6.jpg ">
            </a>
        </article>  
    </div>
    <footer>
        <p>Hecho por: Alberto Agostini Repetto</p>
    </footer>
</body>