<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="../assets/styles/main.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
</head>
<body>
    <div class="navigator">
        <a href="../index.html">Start page</a>
        <a href="about.html">About</a>
    </div>
    <div class="main">
        <h1>Some Versions of Megatron</h1>
        <article>
            <h2>IDW</h2>
            <h3>Origin: Miner/writter founder of the Decepticons</h3>
            <a href="https://tfwiki.net/wiki/Megatron_(G1)/2005_IDW_continuity">
            <img src="../assets/imgs/megs7.jpg ">
            </a>
        </article>
        <article>
            <h2>G1</h2>
            <h3>Origin: Created to lead the Decepticons into a new war</h3>
            <a href="https://tfwiki.net/wiki/Megatron_(G1)/Generation_1_cartoon_continuity">
            <img src="../assets/imgs/megs2.jpg ">
            </a>
        </article>
        <article>
            <h2>Prime/WFC</h2>
            <h3>Origin: Gladiator revolutionary who founded the Decepticons in his lust for power</h3>
            <a href="https://tfwiki.net/wiki/Megatron_(WFC)">
            <img src="../assets/imgs/megs1.jpg ">
            </a>
        </article>
        <article>
            <h2>Animated</h2>
            <h3>Origin: Overthrew the previous Decepticon leader</h3>
            <a href="https://tfwiki.net/wiki/Megatron_(Animated)">
            <img src="../assets/imgs/megs4.jpeg ">
            </a>
        </article>
        <article>
            <h2>Earthspark</h2>
            <h3>Origin: Unknown for now, probably the same or similar as G1</h3>
            <a href="https://tfwiki.net/wiki/Megatron_(ES)">
            <img src="../assets/imgs/megs5.jpg ">
            </a>
        </article>
        <article>
            <h2>Cyberverse</h2>
            <h3>Origin: Former gladiator who was corrupted by a lust for power</h3>
            <a href="https://tfwiki.net/wiki/Megatron_(Cyberverse)">
            <img src="../assets/imgs/megs6.jpg ">
            </a>
        </article>  
    </div>
    <footer>
        <p>Hecho por: Alberto Agostini Repetto</p>
    </footer>
</body>